/*=======================================================================================

                    Tamplate Name           :      Tazinda.
                    Tamplate Description    :      A website where you can find about all things you want about us.
                    Tamplate URL            :      "#";
                    Author                  :      Rafiul Alam.
                    Authour URL             :      "#"
                    Tamplate ver            :      1.0  .
===========================================================================================*/


/*=======================================================================================
                                    Css index
=========================================================================================
                1.Google fonts
                2.Common Css
                3.Reusable Components
                4. Hero
                5. 

=========================================================================================*/


/*========================================================
                    Google fonts
===========================================================*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700&amp;display=swap");

/*========================================================
                    Common Css
===========================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000;
}

.ds {
    font-family: "Dancing Script", cursive;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

section,
footer {
    padding: 3rem 0;
}


/*========================================================
                    Reusable Component
===========================================================*/

.butn {
    background-color: #ff5353;
    color: #fff;
    padding: .7rem 2.5rem;
    border: 1px solid #ff5353;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 1s;
}

.butn:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.section-header {
    margin-bottom: 4rem;
}

.section-header h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}


/*========================================================
                    hero
===========================================================*/

.topbar {
    background-color: rgb(255, 172, 172);
}

nav ul li a {
    color: #000 !important;
}

.hero-ban {
    background: url(../img/bg-1.jpg) no-repeat center /cover;
}

.hero-ban span {
    color: rgb(65, 65, 65);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
}

.hero-box h1 {
    font-weight: 500;
    font-size: 4rem;
}


/*========================================================
                    Features
===========================================================*/

.card {
    border: 0;
}

.card .card-body a {
    text-decoration: none;
    color: #000;
    transition-duration: 1s;
}

.card .card-body a:hover {
    color: #ff5353;
    text-decoration: none;
}

.card .card-body ul li ion-icon {
    color: #ff5353;
    font-size: 1rem;
}

.card .hover-ef ul li a {
    color: #000;
    padding: 1.1rem 1.1rem;
    border-radius: 100%;
    background-color: #fff;
}

.card .hover-ef ul li a:hover {
    color: #fff;
    background-color: #ff5353;
}

.card .hover-ef {
    position: absolute;
    width: 100%;
    bottom: 30%;
    opacity: 0;
    visibility: hidden;
    transition-duration: ;
}

.card-img:hover .hover-ef {
    opacity: 1;
    visibility: visible;
}

.card-img:hover .hover-ef ul li:nth-child(1) {
    animation: fadeInUp 200ms;
}

.card-img:hover .hover-ef ul li:nth-child(2) {
    animation: fadeInUp 600ms;
}

.card-img:hover .hover-ef ul li:nth-child(3) {
    animation: fadeInUp 1000ms;
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}


/*========================================================
                    Ban-2
===========================================================*/

.ban-2 {
    background: #eae2d8
}


/*========================================================
                    Facilities
===========================================================*/

.faci-box h6 {
    font-weight: 500;
}

.faci-box p {
    font-size: 14px;
    font-weight: 300;
    color: rgb(63, 63, 63)
}


/*========================================================
                    blog
===========================================================*/

#blog .card .card-body {
    padding: 0;
}

#blog .card .card-body h3 {
    font-size: 1.3rem;
    margin: 6px 0;
    padding: 0;
}

#blog .card .card-body span:nth-child(1) {
    position: relative;
    margin-left: 1.3rem;
}

#blog .card .card-body span:nth-child(1):before {
    content: "";
    display: table;
    width: 1rem;
    height: 6px;
    position: absolute;
    left: -20px;
    top: 6px;
    background-color: #ff5353;
}

#blog .card .card-body span .date {
    font-size: 14px;
}

#blog .card .card-body span:nth-child(2),
#blog .card .card-body span:nth-child(3) {
    margin-left: 6px;
    margin-bottom: 4px;
}


/*========================================================
                    Social
===========================================================*/

.social-img {
    position: relative;
}

.social-img a::before {
    content: "";
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ff5353;
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s;
}

.social-img a ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.social-img a:hover::before {
    visibility: visible;
    top: 0;
    opacity: .7;
    animation: fadeInup 200ms;
}

.social-img a:hover ion-icon {
    visibility: visible;
    opacity: 1;
}


/*========================================================
                    Footer
===========================================================*/

#footer {
    background-color: #e9e2d8;
}

#footer .row .list-unstyled li {
    padding: 4px;
}

#footer .row .list-unstyled li a {
    text-decoration: none;
    color: rgb(143, 143, 143);
    font-size: 14px;
    transition-duration: 1s;
}

#footer .row .list-unstyled li a:hover {
    color: #ff5353;
}

.app-box {
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

#footer .app-box ion-icon {
    color: #ff5353;
    font-size: 1.5rem;
}

#footer .app-box p {
    font-size: 12px;
}

#footer .app-box p span {
    font-size: 10px;
}

#footer .app-box p:hover {
    color: #fff
}

#footer .app-box ion-icon:hover {
    color: #fff
}

#footer .app-box:hover,
#footer .app-box:hover ion-icon,
#footer .app-box-2 {
    background-color: #ff5353;
    color: #fff !important;
    text-transform: uppercase;
    border-radius: 5px;
}

#footer .app-box-2 p {
    font-size: 12px;
}

#footer .app-box-2 p span {
    font-size: 10px;
}

#footer .app-box-2 ion-icon {
    font-size: 1.5rem;
}

.social-icon ul li {
    background-color: #fff;
    padding: .5rem 1rem;
}

.social-icon ul li a {
    color: #000;
}

.social-icon ul li:hover,
.social-icon ul li:hover a {
    background-color: #ff5353;
    color: #fff
}

.foot a {
    color: #ff5353;
    text-decoration: none;
}